//Anchor Style
.dc-container {
  display: flex;
  width: fit-content;
  padding: 5px;
  color: #3498db;
  font-weight: 600;
  //border: 1px solid;
  font-size: 20px;
}

//Decorator Inline Icon
.dc-icon {
  display: flex;
  margin-right: 7px;
}
